[Unit]
Description=BLE Lightbulbs server daemon
After=bluetooth.target networking.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Homeserver
ExecStart=/usr/bin/python3 /home/pi/Homeserver/home.py --server --threaded
User=pi

[Install]
WantedBy=multi-user.target
