[Unit]
Description=BLE Lightbulbs server daemon
After=bluetooth.target networking.target network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecPreStart=/bin/sleep 30
WorkingDirectory=/home/pi/play
ExecStart=/usr/bin/python3 /home/pi/play/play.py --server --ifttt --detector --threaded --webserver 8080
User=pi

[Install]
WantedBy=multi-user.target
