@font-face {
    font-family: MuseoSans;
    src: url("MuseoSans-300.woff") format("woff"), url("MuseoSans-300.ttf") format("truetype");
}
body {
    font-family: MuseoSans, Arial, serif;
    color: #191919;
}
hr {
    background-color:white;
}
a:hover{
    text-decoration: underline !important;
    cursor:pointer;
}
.modal {
    top:30px;
}
.new-dev-card {
    cursor:pointer;
}
.new-dev-card:hover {
    background-color: rgba(0,0,0,.3) !important;
}
#update-spin {
    position: fixed;
    top:9px;
    left:15px;
    z-index: 9100;
    color:#eee;
}
#top-bar {
    top:0;
    left:0;
    right:0;
    position: fixed;
    height:50px;
    background: linear-gradient(0deg, #5C4B51 30%, transparent 40%, transparent 60%, #5C4B51 70%) !important;
    z-index:7002;
    border-bottom:1px solid #403438;
}
#bar-end {
    position: fixed;
    right:0;
    width:5%;
    height: 50px;
    z-index: 7000;
    background-color: #5C4B51;
}
#btn-bar {
    width: 15%;
    position: fixed;
    height: 50px;
    z-index: 9000;
    left:0;
    background-color: #5C4B51;
    border-bottom:1px solid #403438;
}
#night-time-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 7001;
    background-image: linear-gradient(to right, #444 30% , transparent 40%, transparent 80%, #444 90%);
}
#sky-time-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 7001;
    top: 5px;
    background-color: deepskyblue;
    background-image: linear-gradient(0deg, #fefaf4 0%, transparent 100%);
}
#on-time-bar {
    position: absolute;
    display:none;
    height: 3px;
    top: 40px;
    background-color: #8CBEB2;
}
#off-time-bar {
    position: absolute;
    display:none;
    height: 3px;
    top: 40px;
    background-color: #F06060;
}
#on-detector-bar {
    position: absolute;
    display:none;
    height: 3px;
    top: 7px;
    background-color: #eee;
}
#off-detector-bar {
    position: absolute;
    display:none;
    height: 3px;
    top: 7px;
    background-color: #222;
}
#sun-time-ball {
    position: absolute;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    top: 10px;
    left: 70%;
    z-index: 7777;
    margin-left:-13px;
    filter: blur(3px);
    background-color: #F3B562;
}
.tooltip {
    z-index: 9999;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}
.tooltip-inner {
    background-color: #343a40 !important
}
.arrow {
    border-bottom-color: #343a40 !important
}
.arrow::before {
    border-bottom-color: #343a40 !important  
}
#sun-time-ball-line {
    width: 3px;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    top: 5px;
    left: 70%;
    z-index: 7776;
    background-color: #eee;
}
#time-bar {
    background-image: linear-gradient(90deg, #5C4B51 85%, transparent 100%);
    width: 84%;
    left:15%;
    z-index: 7000;
    position: fixed;
}
#menu-btn {
    line-height: 50px;
    font-size: 36px;
    color:#eee;
    cursor:pointer;
    margin-left: 15px;
}
#side-menu {
    position: fixed;
    left:-300px;
    height:100%;
    width:300px;
    z-index: 9999;
}
#back-side-menu-btn {
    position: relative;
    top:10px;
    float:left;
    font-size:36px;
    cursor:pointer;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.3;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.card-loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5C4B51;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:absolute;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.noselect-nooverflow {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lock-btn {
    position:absolute;
    line-height:inherit;
    right:10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}
.cog-btn {
    position:absolute;
    line-height:inherit;
    left:10px;
    bottom:0.75rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}
.cog-btn-top {
    position:absolute;
    line-height:inherit;
    right:10px;
    top:0.75rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}
.wrench-btn {
    position:absolute;
    line-height:inherit;
    right:10px;
    top:5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}
.check-btn {
    position:absolute;
    line-height:inherit;
    right:10px;
    top:5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}
.rs-transition  {
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}
.rs-range-color  {
    background-color: #f9d71c;
}
.rs-handle:after  {
    background-color: #000000;
}
.rs-border  {
    border-color: #fff;
}
.rs-seperator {
    display:none !important;
}
.rs-handle  {
    background-color: #fff;
    border: 5px solid black;
}
.rs-tooltip-text {
    mix-blend-mode: difference;
    filter:invert(1);
    font-weight:bold;
}
.colorpick {
    display:none;
    overflow:hidden; 
    border-radius:100%; 
    width:70px; 
    height:70px;
    z-index:5;
    position: absolute;
    transform: translate(-50%, 50%);
}
.open-rcard-header {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) calc(.25rem - 1px) !important;

}
.rcard > .card-body {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    background-color:#eee;  
}
.open-rcard-card {
    border-left: none;
    border-right: none;
}
@media (max-width: 770px) {
    .dcard-columns {
        column-count: 2 !important;
    }
    .card-columns .card {
        display: inline-block;
        width:100%;
    }
    .gcard-columns {
        column-count: 2 !important;
    }
    .rcard .card-columns {
        column-count: 2 !important;
    }
    .modal {
        top:50px !important;
        padding-bottom:50px;
    }
    h5.card-header {
        font-size:1rem;
    }
    h4.card-header {
        font-size:1.25rem;
    }
}
@media (min-width: 770px) {
    .gcard-columns {
        column-count: 4 !important;
    }
    .rcolumns {
        column-count: 2 !important;
    }
}
.bg-danger {
    background-color: #F06060 !important;
}
.bg-warning {
    background-color: #F3B562 !important;
}
.bg-success {
    background-color: #8CBEB2 !important;
}
.border-success {
    border-color: #8CBEB2 !important;
}
.bg-info {
    background-color: #5C4B51 !important;
}
.btn-success {
    background-color: #8CBEB2 !important;
    border-color: #8CBEB2 !important;
}
.btn-danger {
    background-color: #F06060 !important;
    border-color: #F06060 !important;
}